*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}
.grid{
    display: grid;
}
.grid-1{
    gap:10px
}
.grid-2{
    gap:20px
}
.grid-3{
    gap:8px
} 
  
.grid-1{
    grid-template-columns: repeat(1, 1fr);
}
.grid-2{
    grid-template-columns: repeat(2, 1fr);
}
.grid-3{
    grid-template-columns: repeat(3, 1fr);
}
.grid-4{
    grid-template-columns: repeat(4, 1fr);
}
.bg-red{
    color: red;
}
.bg-black{
    color: rgb(105, 104, 104);
}
.bg-lightred{
    background-color: #FFFAFA;
}
.partA{
    width: 100%;
    height: 700px;
    background-image: url('./image/hero-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.image-holder{
  width: 100%;
  position: relative;
  top: 10vh;  
}
.image{
    display: block;
    margin-left: auto ;
    margin-right: auto;
}
.image img{
    width:100%;
}
.word1{
    margin-top: 9rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.word1 a{
    text-decoration: none;
}
.word1 h2{
    font-size: 30px;
}
.word1 p{
    margin-top: 3rem;
    font-size: 16.9px;
    line-height: 25px;
}
.group-Links{
  width: 40%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  
}
.button1{
    width: 40%;
    margin-left: 9px;
    outline: none;
    border: 1px solid red;
    background-color: red;
    padding: 12.5px;
}
.button1:hover{
    background-color: white;
}
.button2:hover{
    background-color: red;
}
.button1:hover a{
    color: red;
}
.button2:hover a{
    color: white;
}
.button2{
    width: 49%;
    margin-left: 30px;
    padding: 12.7px;
    background-color: white;
    border: 1px solid red;
    outline: none;
}
.button1 a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.button2 a{
    text-decoration: none;
    font-size: 16px;
    color: red;
}
.partB{
    width: 100%;
    height: 100px;
    margin-top: 10rem;
    text-align: center;
}
.word2 h4{
    font-size: 16.8px;
 color: #E7332B;
 font-family: serif;
}
.word3 p{
    margin-top: 19px;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 38px;
    color: rgb(82, 80, 80)
}
.card-container{
   width: 100%;
   display: flex;
  position: relative; 
  justify-content: space-between;
  height: 200px;
}
.partC{
    width: 100%;
    margin-top: 60px;
    height: 420px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

.card1{
    width: 30%;
    height: 200px;
}
.card2{
  width: 30%;
  height: 200px;
}
.card1 img{
    width: 100%;
    height: 500px;
}
.card2 img{
    width: 100%;
    height: 500px;
}
.partC .word4{
    width: 30%;
    height: 480px;
}
.partC .word5{
    width: 30%;
    height: 480px;
}
.partC .word6{
    width: 30%;
    height: 480px;
}
.partC .word4 .bloc, .word5 .bloc, .word6 .bloc{
    margin-top: 70px;
    margin-right: 180px;
}
.partC .word4 .bloc1, .word5 .bloc1, .word6 .bloc1{
    margin-top: 49px;
    margin-left: 50px;
}
.partC .word4 .bloc1 p, .word5 .bloc1 p, .word6 .bloc1 p{
    font-size: 15.5px;
    font-weight: 800px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
    line-height: 26px;
    text-align: justify;
}
.word4 .lin{
    margin-top: 27px;
    margin-right: 150px;
}
.word5 .lin, .word6 .lin{
    margin-top: 27px;
    margin-right: 100px;
}

.word4 .lin  a, .word5 .lin  a, .word6 .lin a{
    text-decoration: none;
    font-size: 17px;
    color:#E7332B;
}
.footer{
    margin-top: 38rem;
    height: 400px;
    
}
.footer .zTeam{
    height: 400px;
}
.imagee{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 160px;
}
.footer .links{
    font-family: sans-serif;
    text-align: center;
    height: 400px;
}
.footer .links ul li{
    margin-top: 20px;
    font-size: 16px;
    list-style: none;

}
.footer .links a{
    text-decoration: none;
}
.footer .links .linky{
    margin-top: 160px;
    font-size: 17.8px;
    color: rgb(82, 80, 80)
}
.footer .contact{
    text-align: center;
    height: 400px;
}
.footer .contact .con{
    margin-right: 90px;
    margin-top: 160px;
    font-size: 17.8px;
    color: rgb(82, 80, 80)
}
.footer .contact .address{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 15px;
   margin-left: 90px;
}
.footer .contact .hTeam{
    margin-right: 36px;
    text-decoration: none;
}
.footer .socialMedia{
    text-align: center;
    height: 400px;
}
.footer .socialMedia .follow{
    margin-top: 160px;
    font-size: 17.8px;
    color: rgb(82, 80, 80)

}
.social{
    width: 30%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
.social img{
 width: 100%;
}
.footerV-line hr{
    width: 90%;
    opacity: 0.2;
    border: 1px solid #514949;
    margin: auto;
    box-sizing: content-box;
    height: 0;
     margin-bottom: 40px; 
}
.footerV-line{
    text-align: center;
    width: 100%;
    height: 200px;
   
}
.footerV-line .copyRight h3{
    font-family: sans-serif;
    color: #514949;
    text-transform: uppercase;
 font-size: 16px;
}
